.text-grey {
    color: #9a9898;
}

.availability {
    height: 0.9rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--bs-success);
}

.fsk {
    font-size: 1rem;
    font-weight: normal;
}

.customer-card-wrapper {
    padding-right: 3px;
}

.customer-card-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.customer-card-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.customer-card-wrapper::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    border: 1px solid transparent;
}