$primary:  #185458;
$secondary: #443D4C;
$white: #f1f1f1;

@import "../Library/node_modules/bootstrap/scss/bootstrap";

/*
@import "../Library/node_modules/bootstrap/scss/functions";
@import "../Library/node_modules/bootstrap/scss/variables";
@import "../Library/node_modules/bootstrap/scss/maps";
@import "../Library/node_modules/bootstrap/scss/mixins";

@import "../Library/node_modules/bootstrap/scss/root";
@import "../Library/node_modules/bootstrap/scss/reboot";
@import "../Library/node_modules/bootstrap/scss/buttons";
@import "../Library/node_modules/bootstrap/scss/utilities";
*/