@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

*::selection {
    background-color: var(--bs-secondary);
    color: white;
}

html {
    width: 100vw;
    height: 100dvh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1,h3 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem !important;
}

h3 {
    font-size: 1.75rem !important;
}

.bg-grey {
    background-color: #e2dfdf;
}

.search:focus {
    border: none;
    outline: 1px solid #1a1d20;
    outline-offset: -1px;
}

.search-bar {
    width: clamp(400px, 50%, 550px);
}

.search-button {
    background-color: #aeaeae !important;
}

nav {
    height: 10dvh;
    max-height: 250px;
}

nav>img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 !important;
    color: var(--bs-white);
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    width: auto;
    gap: 20px;
    font-weight: 600;
}

li a{
    color: white;
    cursor: pointer;
    text-decoration: none !important;
    text-underline-color: transparent !important;
    text-underline-offset: 0;
    transition: 200ms text-underline-offset ease-in-out;
}

.active {
    text-decoration: underline !important;
    color: white;
    text-underline-offset: 8px;
}

li a:hover{
    text-decoration: underline !important;
    text-underline-offset: 8px;
    text-underline-color: white !important;
    text-decoration-thickness: 1px !important;
}

.flex-1 {
    flex: 1;
    overflow-y: auto;
}

.card-title {
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 800;
}

#isbn {
    font-size: 0.8rem;
    font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
}

.alert-wrapper {
    width: 100%;
    position: fixed;
    display: none;
    bottom: 35px;
    transition: 0.2s transform ease-in-out;
    transform: translateY(100px);
}

.close-button {
    padding: 2px 8px 2px 8px;
    border-radius: 100%;
    border: 0;
    transition: 0.2s ease-in-out;
    background-color: transparent;
}

.close-button:hover {
    background-color: rgba(213, 213, 213, 0.42);
}

#alertContentWrapper {
    width: clamp(200px, 45%, 400px);
    color: black;
    font-weight: 600;
    padding: 6px 12px;
}

.skeleton-card:after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.3), transparent);
    animation: loading 1.2s infinite;
}

.bg-skeleton {
    color: transparent !important;
    background-color: #d5d5d5;
    border-radius: 12px;
}

.bg-skeleton>* {
    display: none;
}

.text-transparent {
    color: transparent !important;
}

.new-object-popup {
    position: absolute;
    height: 100dvh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-object-wrapper {
    border-radius: 15px;
    overflow-y: auto;
    width: clamp(300px, 50%, 800px);
    height: clamp(500px, 60%, 700px);
    background-color: white;
}


@keyframes loading {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}
